#body{
    height: 100%;
    width:100%;
    background-color:#bbbbff;
    padding:0px;
    margin:0px;
}
@font-face {
    font-family: "aahub_light";
    src: url("aahub_light4.woff2") format("woff2"),
      url("aahub_light4.woff") format("woff"),
      url("aahub_light4.ttf") format("ttf");
    font-display: swap;
  }
  
#new{
    background: #ffffff;
    border: 0px solid #777;
    margin: 10px;
    padding: 14px;
    border-radius: 15px;
    display:inline-block;
}
#bar{
    border:solid 1px #cccccc;
    background-color:#ffffff;
    padding:10px;
    top: 0;
    z-index: 1;
}

h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}

ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: relative;
    background: #f1f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 14px;
    border-radius: 15px ;
    display:inline-block;
    white-space: pre-wrap;
}

/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}

.scroller {
    height: 600px;
    overflow: auto;
}

.sender_name{
    margin-bottom: -5px;
    padding-left: 20px;
    color: rgba(0, 0, 0, .40);
}
.sender_name.me{
    float: right;
    padding: 0 20px 0 0;
}

#resu{
    font-family: "aahub_light";
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 18px;
    word-break : break-all;
}

@media only screen and (max-width: 700px) {
    #newspase { display: none !important; }
}